extends layout

block content
      .container.login-formContainer
        h1.slogan
          | Please insert your email below, and we will send you ure passowrd in minutes
        br
        form.container.form-login(action='./')
          .container.credentials
            input.login-input(type='email' name='loged_email' id='' placeholder='Enter your email' required='')
            br
            button.btn.btn-info.login-input-btn Send
            br
      div(style='min-height: 6em;')  